

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color:#111;
}
p{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #353535;

}
a{
    text-decoration: none;
                                                      /* vvi */
    display: inline-block;
}
body{
    overflow-x: hidden;
}
header ul .nav-link{
    padding: 0 !important;
}
header ul li{
    padding-left: 20px;
}
.form-group button{
    background-color: transparent;
    margin: 0 30px;
    width: 100px;
    border-radius: 45px 0 45px;
    border: 1px solid yellow;
    
}

.form-group button.right{
    border-radius:0 45px 0 45px ;
}
.form-group button:hover{
    background-color: red;
}

#feedback{
    background-color: #0d0442;
    color: white;
    padding: 7% 10%;
}
#feedback .hr-style{
    border: 6px dotted white;
    border-bottom: none;
    width: 50px;
    margin: 0 auto;
}
.carousel-item{
    padding: 5% 15%;
    text-transform: uppercase;
}
.carousel-indicators{
    bottom: -20px;
}